@page "/CambioPass";
@inject IJSRuntime js
@layout EmptyLayout
@inject IServiceUsuario serviceUsuario
@inject ILocalStorageService localStorage
@inject NavigationManager nav

<div class="d-flex justify-content-center">
    <div style="margin-top:10vh;">

        <div class="recuadroPass">
            <section class="row">
                <div class="col">
                    <h1 style="font-family: Gabriola; font-weight: bold; margin-top: 15px;">Cambio de contraseña</h1>
                </div>
            </section>
            <div class="dividerLogin"></div>

            <section class="row">
                <div class="col">
                    <EditForm Model="vmCambioPass" OnValidSubmit="CambioPass">
                        <DataAnnotationsValidator />
                        <div class="d-flex justify-content-center">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="Contrasena">Contraseña</label>
                                    <InputText type="password" @bind-Value="vmCambioPass.Password" id="Contrasena" class="form-control" placeholder="Ingrese una nueva contraseña" />
                                    <ValidationMessage For="@( () => vmCambioPass.Password)" />
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="ConfConstrasena">Confirmación de contraseña</label>
                                    <InputText type="password" @bind-Value="vmCambioPass.ConfirmacionPassword" id="ConfConstrasena" class="form-control" placeholder="Ingrese confirmación de contraseña" />
                                    <ValidationMessage For="@( () => vmCambioPass.ConfirmacionPassword)" />
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>

                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </EditForm>
                </div>
            </section>
        </div>
    </div>
</div>


@code {

    VMCambioPass vmCambioPass = new VMCambioPass();
    UsuarioDTO usuario = null;
    private string token;

    protected async override Task OnInitializedAsync()
    {
        usuario = await localStorage.GetItemAsync<UsuarioDTO>(SD.LocalUsuario);
        token = await localStorage.GetItemAsync<string>(SD.LocalToken);
        await js.MsgExitoso("Su login ha sido exitoso. Es la primera vez que accede al sistema por lo que se le pedirá una nueva contraseña personal");
    }

    private async Task CambioPass()
    {
        if (usuario != null)
        {
            usuario.PassInicial = vmCambioPass.Password;
            UsuarioDTO respuesta = await serviceUsuario.Actualizar(usuario, token);

            if (respuesta != null)
            {
                await localStorage.SetItemAsync(SD.LocalUsuario, respuesta);
                await js.MsgExitoso("Contraseña cambiada exitosamente");

                if (usuario.TipoUsuario == SD.TipoUsuario.PorteriaIngPlt.ToString())
                {
                    nav.NavigateTo("/Porteria");
                }
                else
                {
                    nav.NavigateTo("/index");
                }
            }
        }
    }
}
