@page "/index"
@inject NavigationManager nav
@inject ILocalStorageService localStorage

@if (usuarioDTO != null)
{
<h1>Hola, @((usuarioDTO.Proveedor != null) ? usuarioDTO.Proveedor.RazonSocial : usuarioDTO.UsuarioNombre )</h1>
<h5 style="color:blueviolet">Bienvenido/a su sesión de @((usuarioDTO.TipoUsuario == SD.TipoUsuario.OperadorIngPlt.ToString()) ? "Operador" : "Proveedor" ) </h5>
}

@code{
    UsuarioDTO usuarioDTO { get; set; } = null;

    protected async override Task OnInitializedAsync()
    {
        await CargaInicial();
    }

    private async Task CargaInicial()
    {
        usuarioDTO = await localStorage.GetItemAsync<UsuarioDTO>(SD.LocalUsuario);
        StateHasChanged();
    }
}