@page "/Proveedores"

<h3>Mantenimiento de Proveedores</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">RUT</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Nombre Fantasia</th>
            <th scope="col">Tipo de Servicio</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>216201790016</td>
            <td>Fabamor S.A.</td>
            <td>Vector Seguridad</td>
            <td>Seguridad</td>
            <td>Activo</td>
            <td><a href="#">Editar</a></td>
            <td><a href="#">Baja</a></td>
        </tr>
        <tr>
            <td colspan="6" align="center"><img class="nuevoBoton" src="img/add.png" /></td>
        </tr>
    </tbody>
</table>

@code {

}
