@page "/Autorizaciones"
@inject IServiceIngreso serviceIngreso


<h3>Monitor de Autorizaciones</h3>
<div class="d-flex flex-row-reverse">
    <img src="/img/actualizar.png" class="botonPDFVisor" />
</div>

@if (ingresosXProv != null && ingresosXProv.Any())
{
               @foreach (IngresoXProveedorDTO ing in ingresosXProv)
                   {
                   <ContenedorIngreso proveedorDTO="@ing.Ingresos.First().Proveedor" ingresosDTO="@ing.Ingresos"/>
                   }
 }
else if (ingresosXProv != null && ingresosXProv.Count == 0)
{
   <p> No hay nuevas autorizaciones a procesar</p>
}
else
{
    <Loading />
}




@code {
    List<IngresoXProveedorDTO> ingresosXProv = null;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerTodosIngresos();
    }

    private async Task ObtenerTodosIngresos()
    {
        ingresosXProv = await serviceIngreso.ObtenerIngresosPendientes();
        if (ingresosXProv != null)
        {
        }
        else
        {
            Console.WriteLine("Hubo un error");
        }
    }

}