@page "/Porteria"
@layout EmptyLayout

<section class="row">
    <div class="col-3">
        <div class="myScrollBar">
            <ul class="list-group">
                <a href="" class="list-group-item listPorteria">Provedor 1</a>
                <a href="" class="list-group-item listPorteria">Provedor 2</a>
                <a href="" class="list-group-item listPorteria">Provedor 1</a>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="row justify-content-between">
            <h2>Proveedor tal</h2>
            <h2>06/06/2021</h2>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Salida</th>
                        <th scope="col">Marcar Entrada</th>
                        <th scope="col">Marcar Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>43631856</td>
                        <td>Alexis Franca Sequeira</td>
                        <td>06:00</td>
                        <td>14:00</td>
                        <td>Mark</td>
                        <td>Mark</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
@code
{

}