@page "/Porteria"
@layout EmptyLayout

<section class="row">
    <div class="col-3">
        <div class="myScrollBar">
            <ul class="list-group">
                <a href="" class="list-group-item listPorteria">Provedor 1</a>
                <a href="" class="list-group-item listPorteria">Provedor 2</a>
                <a href="" class="list-group-item listPorteria">Provedor 1</a>
            </ul>
        </div>
    </div>
    <div class="col-8 offset-1">
        <div class="row">
            <p>Proveedor tal</p>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>fdf</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fgfg</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>gfd</td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        
    </div>
</section>
@code
{

}