@if (!string.IsNullOrEmpty(IndicadorIndividual))
{
<a href="@IndicadorIndividual" target="_blank">
    <img src="/img/SubidoOK.png" alt="OK" class="botonChico" />
</a>
}
else
{
    <img src="/img/NoSubido.png" alt="NO_OK" class="botonChico" />
}

@code {
    [Parameter]
    public string IndicadorIndividual { get; set; }
}
