<div class="form-group">
    <label style="font-size:12px;color:grey">@Titulo</label>
    <label class="form-control">@Dato</label>
</div>

@code{
    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public string Dato { get; set; }
}
