<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sesión Proveedor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Funcionarios">
                <span class="oi oi-people" aria-hidden="true"></span> Funcionarios
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CargaIngresos">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Carga de ingresos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Revisiones">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Revisiones
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HistorialIngresos">
                <span class="oi oi-eye" aria-hidden="true"></span> Historial Ingresos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Terciarizaciones">
                <span class="oi oi-layers" aria-hidden="true"></span> Terciarización
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
